<div class="dashboard-container">
  <div><%= render "admin_tabs" %></div>

  <!-- Turbo Frame Container -->
  <%= turbo_frame_tag "main-content" do %>
    <%= render "pages/admin_students", students: @students %> <!-- Default Content -->
  <% end %>
</div>
