<div class="container">
  <div class="side-bar">
    <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">Dashboard</a>
    </li>
    <li>
      <a href="#" class="tab-underlined active">Tests Catalog</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">My learning history </a>
    </li>
    </ul>

</div>

<div class="main">
  Main content
</div>

</div>
