<div class="home-background-1 home-container">

  <%# div with title, picture and CTA %>

  <div class="home-with-pic">
    <div class="home-header-and-CTA">
      <!-- Text Animation Section -->
      <div class="text-animation-container ms-2 mb-4" data-controller="text-animation">
        <h3 class="text-animation-heading">Enhance Your Skills and Knowledge by</h3>
        <h2 class="home-text" data-text-animation-target="text" style="color: #AFADAD;"></h2>
      </div>

      <!-- Call-to-Action Section -->
      <div class="cta-container">
        <%= link_to "Start Your Journey", root_path, class: "main-cta-home" %>
      </div>
  </div>

  <!-- Image Section -->
  <div class="home-image">
    <%= image_tag "Allura.png", alt: "two-women-educ-sharing", height: 350 %>
  </div>
</div>

  <%# display-flex with 3 marketing promesses %>
  <div id="promess">
    <div class="mini-card-home">
      <h2>Personalized Learning</h2>
      <p>Track your<br/>progress, strengths & weaknesses</p>
    </div>
    <div class="mini-card-home">
      <h2>Performance</h2>
      <p>Focus <br/>on your areas of improvement</p>
    </div>
    <div class="mini-card-home">
      <h2>Comprehensive Insights</h2>
      <p>Enable <br/>data-driven decisions</p>
    </div>
  </div>

</div>
