.home-background-1 {
  background: $white;
}

.home-background-2 {
  background: $white;
}

.background-color-body {
  background: $white;
}

.home-container {
  padding: 9vh 5vw 0vh 5vw;
  max-height: 91vh;
  display: flex;
  flex-direction: column;
  flex-shrink: inherit;
}

.home-header-and-CTA {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  gap: 3rem;
  align-items: flex-start;
}

.home-with-pic {
  display: flex;
  justify-content: space-between;
  height: 60vh;
  margin-top: 50px;
  margin-bottom: -120px;
}

.home-with-pic img{
  align-items: end;
  box-sizing: border-box;
}

.home-with-pic span {
  color: $black-primary;
}

.mini-card-home {
  text-align: -webkit-center;
  color: $dark-gray-primary;
  align-items: center;
}

#promess {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-shadow: -1px 2px 4px $light-shadow-primary;
  min-height:  27.5vh;
}

#promess h2 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}

#promess p {
  letter-spacing: -1px;
}

[data-text-animation-target="text"] {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  font-size: 24px;
  min-height: 2.5rem;
}

.text-animation-heading {
  font-size: 28px;
  color: $dark-gray-primary;
  font-weight: 600;
}
